@import url('loader.css');
@import url('card.css');
@import url('button.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    font-family: Metropolis;
    margin: 30px;
}

header h1 {
    font-size: 3rem;
}

header section input {
    transition: 0.6s ease-in;
    font-family: Metropolis;
    font-size: 1.2rem;
    border: 1px solid white;
    color: black;
    padding: 5px;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
header section input:focus {
    border-color: rgb(203, 14, 46);
    outline: rgb(203, 14, 46);
}